<nb-layout>

  <nb-layout-header fixed >
    <img src="/assets/img/logo2.png" alt="image" class="logo-img">
    <!--
    <button (click)="toggleTheme()" hidden="hidden">Toggle Theme</--button>
    -->
    <button nbButton (click)="openSubscribeDialog()">Alert me</button>
  </nb-layout-header>

  <nb-layout-column>
    <div class="centered-columns-container">
      <nb-layout-column>
        <nb-card>
          <nb-card-body>
            <app-search-page (startSearch)="onSearchStart($event)" [nbSpinner]="isLoading" nbSpinnerStatus="danger"></app-search-page>
          </nb-card-body>
          <nb-card-body>
            <app-result-page [data]="data"></app-result-page>
          </nb-card-body>
        </nb-card>
      </nb-layout-column>
      <!-- Add more nb-layout-column elements as needed -->
    </div>
  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  <p>Find this project on <a href="https://github.com/elpato-dev/OSINT-compass" target="_blank">GitHub</a></p>
  </nb-layout-footer>

</nb-layout>
