nb-layout {
  max-height: 100%!important;
  max-width: 100%!important;
}
nb-layout-header nav{
  justify-content: space-between!important;
}

.logo-img {
  height:100%;
}
nb-layout-column {
  max-width: 100%
}
nb-card {
  max-width: 90%
}
