<nb-layout>

  <nb-layout-header fixed>
  <!-- Insert header here -->
  </nb-layout-header>

  <app-search-page></app-search-page>

  <nb-layout-column>
    <div class="centered-columns-container">
      <nb-layout-column>
        <nb-card>
          <nb-card-body>
            <app-search-page (startSearch)="onSearchStart($event)"></app-search-page>
          </nb-card-body>
          <nb-card-body>
            <app-result-page [data]="data"></app-result-page>
          </nb-card-body>
        </nb-card>
      </nb-layout-column>
      <!-- Add more nb-layout-column elements as needed -->
    </div>
  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
